a:link {text-decoration: none; color: white}
a:visited {text-decoration: none; color: white}
a:hover {text-decoration: none; background-color: grey}
a:active {background-color: black}

body {
	background-color: black;

}

#error {
	text-align: center;
	font-size: 200px;
	color: white;
	padding: 0px;
	font-family: 'Roboto', sans-serif;
}

#text {
	text-align: center;
	font-size: 50px;
	color: white;
	font-family: 'Roboto', sans-serif;
}

#image-error {
	position: relative;
	padding: 100px;
	text-align: center;
	vertical-align: top;
}